<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossoriginwanonymous">

<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Contact us</h5>
<!--headin5_amrc-->
<p class="mb10">You can contact us if you want to be a devloper at KEWLGLE, Just want to say hi & give us feedback or if you want to host your app/game here</p>
<p><i class="fa fa-location-arrow"></i> On the web</p>
<!--<p><i class="fa fa-phone"></i>  +91-9999878398  </p> -->
<p><i class="fa fa fa-envelope"></i> contact@kewlgle.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">KEWLGLE 's Founder</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="">The founder of KEWLGLE is Ayaan a programmer & web developer with extensive knowledge of Javascript, Node.js, Express.js, Three.js, Jquery, Kaboom.js, Phaser.js, p5.js , EJS, Python, Pygame, Tkinter, Css, BootStrap, Flexbox , Grid & html</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>
<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">KEWLGLE 's Co Founder</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="">The co founder of KEWLGLE is Taanish</a></li>
  <hr>
<li><a href="">
 All apps and games are made by KEWLGLE devopers
</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>





<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
 </a><p>On replit <a href="https://replit.com/@SuperSaiyanCoding">@SuperSaiyanCoding</a></p></li>
 </a><p>On replit <a href="https://replit.com/@TaanishVasudeva">@TaanishVasudeva</a></p></li>
 </a><p>On replit<a href="#"> @KEWLGLE</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">

<!--foote_bottom_ul_amrc ends here-->
<p class="text-center copyright"><strong>All rights reserved @2023
 | <a href="#"> KEWLGLE</a></strong></p>


<!--social_footer_ul ends here-->
</div>

</footer>

<!--  
<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>