<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KEWLGLE</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <div class="wrap">
    <h2>No results for '<%=input%>'</h2>
    
  </div>
  <div class = "wrap1">
     <%- include("partials/footer.ejs") %>
  </div>
  </body>
</html>