<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KEWLGLE</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <form class="wrap" action="/submit" method="POST">
    <h1>KEWLGLE</h1>
  <div class="search">
     <input type="text" name = "input" class="searchTerm" placeholder="Explore games & apps">
     <input type="submit" class="searchButton" value = "ðŸ”">
       
    </input>
  </div>
</form>
    <div class = "wrap1">
      <center>
        <h2 class= "bottom">Or Explore community</h2>
        <h3>RPG platformer (BETA)</h3>
        <iframe height="500" width="1000" src="https://rpg-plaformer-beta.supersaiyancoding.repl.co/" title="Platformer"></iframe>
        <h3>Platformer</h3>
        <iframe height="500" width="1000" src="https://platformer.supersaiyancoding.repl.co/" title="Platformer"></iframe>
        <h3>Weather app</h3>
        <iframe height="500" width="1000" src="https://weather-app.supersaiyancoding.repl.co/" title="Weather app"></iframe>
        <h3>Drum kit</h3>
          <iframe height="500" width="1000" src="https://drum-kit.supersaiyancoding.repl.co/" title="Drum kit"></iframe>
        <h3>Simon say's game</h3>
        <iframe height="500" width="1000" src="https://simon-says-game.supersaiyancoding.repl.co/" title="Simon Says"></iframe>
        <h3>To do list</h3>
        <iframe height="500" width="1000" src="https://to-do-list.supersaiyancoding.repl.co/" title="To do list"></iframe>
        
        
      </center>
      

      
      <%- include("partials/footer.ejs") %>
    </div>
    
    
  </body>
</html>